.htmlNoPages .gwd-motion-path-1s6w-anim-x {
  --gwd-motion-path: {
    "tangentFollowing":false, "sections":[ {
      "controlPoints": ["94px", "-30px", "111px", "-13px", "128px", "4px", "145px", "21px"], "startTimeMs": 0, "endTimeMs": 2000, "easing": "linear"
    }
    , {
      "controlPoints": ["145px", "21px", "236.67px", "98px", "328.33px", "175px", "420px", "252px"], "startTimeMs": 2000, "endTimeMs": 2500, "easing": "linear"
    }
    , {
      "controlPoints": ["420px", "252px", "16282.63px", "11321.37px", "654.87px", "845.4px", "208px", "756px"], "startTimeMs": 2500, "endTimeMs": 3000, "easing": "linear"
    }
    , {
      "controlPoints": ["208px", "756px", "165.33px", "825.33px", "122.67px", "894.67px", "80px", "964px"], "startTimeMs": 3000, "endTimeMs": 3500, "easing": "linear"
    }
    , {
      "controlPoints": ["80px", "964px", "53.33px", "642.67px", "26.67px", "321.33px", "0px", "0px"], "startTimeMs": 3500, "endTimeMs": 4000, "easing": "linear"
    }
    , {
      "controlPoints": ["0px", "0px", "0px", "0px", "0px", "0px", "0px", "0px"], "startTimeMs": 4000, "endTimeMs": 4500, "easing": "linear"
    }
    , {
      "controlPoints": ["0px", "0px", "0px", "0px", "0px", "0px", "0px", "0px"], "startTimeMs": 4500, "endTimeMs": 5000, "easing": "linear"
    }
    , {
      "controlPoints": ["0px", "0px", "0px", "0px", "0px", "0px", "0px", "0px"], "startTimeMs": 5000, "endTimeMs": 5500, "easing": "linear"
    }
    , {
      "controlPoints": ["0px", "0px", "0px", "0px", "0px", "0px", "0px", "0px"], "startTimeMs": 5500, "endTimeMs": 6000, "easing": "linear"
    }
    , {
      "controlPoints": ["0px", "0px", "0px", "0px", "0px", "0px", "0px", "0px"], "startTimeMs": 6000, "endTimeMs": 6500, "easing": "linear"
    }
    , {
      "controlPoints": ["0px", "0px", "0px", "0px", "0px", "0px", "0px", "0px"], "startTimeMs": 6500, "endTimeMs": 7000, "easing": "linear"
    }
    , {
      "controlPoints": ["0px", "0px", "0px", "0px", "0px", "0px", "0px", "0px"], "startTimeMs": 7000, "endTimeMs": 7500, "easing": "linear"
    }
    , {
      "controlPoints": ["0px", "0px", "0px", "0px", "0px", "0px", "0px", "0px"], "startTimeMs": 7500, "endTimeMs": 8000, "easing": "linear"
    }
    , {
      "controlPoints": ["0px", "0px", "0px", "0px", "0px", "0px", "0px", "0px"], "startTimeMs": 8000, "endTimeMs": 8500, "easing": "linear"
    }
    , {
      "controlPoints": ["0px", "0px", "0px", "0px", "0px", "0px", "0px", "0px"], "startTimeMs": 8500, "endTimeMs": 9000, "easing": "linear"
    }
    , {
      "controlPoints": ["0px", "0px", "0px", "0px", "0px", "0px", "0px", "0px"], "startTimeMs": 9000, "endTimeMs": 9500, "easing": "linear"
    }
    , {
      "controlPoints": ["0px", "0px", "0px", "0px", "0px", "0px", "0px", "0px"], "startTimeMs": 9500, "endTimeMs": 10000, "easing": "linear"
    }
    , {
      "controlPoints": ["0px", "0px", "0px", "0px", "0px", "0px", "0px", "0px"], "startTimeMs": 10000, "endTimeMs": 10500, "easing": "linear"
    }
    , {
      "controlPoints": ["0px", "0px", "0px", "0px", "0px", "0px", "0px", "0px"], "startTimeMs": 10500, "endTimeMs": 11000, "easing": "linear"
    }
    , {
      "controlPoints": ["0px", "0px", "0px", "0px", "0px", "0px", "0px", "0px"], "startTimeMs": 11000, "endTimeMs": 11500, "easing": "linear"
    }
    , {
      "controlPoints": ["0px", "0px", "0px", "0px", "0px", "0px", "0px", "0px"], "startTimeMs": 11500, "endTimeMs": 12000, "easing": "linear"
    }
    ], "positionTol":0.5, "angleTol":1, "optimizationLevel":0
  }
  ;
  animation: 12s linear 0s 1 normal forwards running gwd-motion-path-1s6w-keys-x;
  transform: translate3d(94px, 0px, 0px);
}
@keyframes gwd-motion-path-1s6w-keys-x {
  0% {
    transform: translate3d(94px, 0px, 0px);
  }
  16.67% {
    transform: translate3d(145px, 0px, 0px);
  }
  20.83% {
    transform: translate3d(420px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.3329, 0.3337, 0.666, 0.6673);
  }
  22.29% {
    transform: translate3d(5388.32px, 0px, 0px);
  }
  22.5% {
    transform: translate3d(6094.2px, 0px, 0px);
  }
  22.6% {
    transform: translate3d(6445.95px, 0px, 0px);
  }
  22.71% {
    transform: translate3d(6796.5px, 0px, 0px);
  }
  22.81% {
    transform: translate3d(7144.43px, 0px, 0px);
  }
  22.92% {
    transform: translate3d(7483.36px, 0px, 0px);
  }
  23.02% {
    transform: translate3d(7177.43px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.3313, 0.3353, 0.6662, 0.6672);
  }
  23.85% {
    transform: translate3d(4246.81px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.3336, 0.3331, 0.6677, 0.6656);
  }
  24.79% {
    transform: translate3d(957.77px, 0px, 0px);
  }
  24.9% {
    transform: translate3d(588.02px, 0px, 0px);
  }
  25% {
    transform: translate3d(208px, 0px, 0px);
  }
  29.17% {
    transform: translate3d(80px, 0px, 0px);
  }
  33.33% {
    transform: translate3d(0px, 0px, 0px);
  }
  37.5% {
    transform: translate3d(0px, 0px, 0px);
  }
  41.67% {
    transform: translate3d(0px, 0px, 0px);
  }
  45.83% {
    transform: translate3d(0px, 0px, 0px);
  }
  50% {
    transform: translate3d(0px, 0px, 0px);
  }
  54.17% {
    transform: translate3d(0px, 0px, 0px);
  }
  58.33% {
    transform: translate3d(0px, 0px, 0px);
  }
  62.5% {
    transform: translate3d(0px, 0px, 0px);
  }
  66.67% {
    transform: translate3d(0px, 0px, 0px);
  }
  70.83% {
    transform: translate3d(0px, 0px, 0px);
  }
  75% {
    transform: translate3d(0px, 0px, 0px);
  }
  79.17% {
    transform: translate3d(0px, 0px, 0px);
  }
  83.33% {
    transform: translate3d(0px, 0px, 0px);
  }
  87.5% {
    transform: translate3d(0px, 0px, 0px);
  }
  91.67% {
    transform: translate3d(0px, 0px, 0px);
  }
  95.83% {
    transform: translate3d(0px, 0px, 0px);
  }
  100% {
    transform: translate3d(0px, 0px, 0px);
  }
}
.htmlNoPages .gwd-motion-path-1s6w-anim-y {
  animation: 12s linear 0s 1 normal forwards running gwd-motion-path-1s6w-keys-y;
  transform: translate3d(0px, -30px, 0px);
}
@keyframes gwd-motion-path-1s6w-keys-y {
  0% {
    transform: translate3d(0px, -30px, 0px);
  }
  16.67% {
    transform: translate3d(0px, 21px, 0px);
  }
  20.83% {
    transform: translate3d(0px, 252px, 0px);
    animation-timing-function: cubic-bezier(0.3341, 0.3325, 0.6686, 0.6648);
  }
  22.5% {
    transform: translate3d(0px, 4247.44px, 0px);
  }
  22.6% {
    transform: translate3d(0px, 4501.14px, 0px);
  }
  22.71% {
    transform: translate3d(0px, 4756.64px, 0px);
  }
  22.81% {
    transform: translate3d(0px, 5015.22px, 0px);
  }
  22.92% {
    transform: translate3d(0px, 5285.72px, 0px);
  }
  23.02% {
    transform: translate3d(0px, 5149.99px, 0px);
    animation-timing-function: cubic-bezier(0.3384, 0.3281, 0.6683, 0.6651);
  }
  23.65% {
    transform: translate3d(0px, 3761.71px, 0px);
    animation-timing-function: cubic-bezier(0.3333, 0.3334, 0.665, 0.6684);
  }
  24.69% {
    transform: translate3d(0px, 1420.42px, 0px);
  }
  24.79% {
    transform: translate3d(0px, 1190.23px, 0px);
  }
  24.9% {
    transform: translate3d(0px, 963.65px, 0px);
  }
  25% {
    transform: translate3d(0px, 756px, 0px);
  }
  29.17% {
    transform: translate3d(0px, 964px, 0px);
  }
  33.33% {
    transform: translate3d(0px, 0px, 0px);
  }
  37.5% {
    transform: translate3d(0px, 0px, 0px);
  }
  41.67% {
    transform: translate3d(0px, 0px, 0px);
  }
  45.83% {
    transform: translate3d(0px, 0px, 0px);
  }
  50% {
    transform: translate3d(0px, 0px, 0px);
  }
  54.17% {
    transform: translate3d(0px, 0px, 0px);
  }
  58.33% {
    transform: translate3d(0px, 0px, 0px);
  }
  62.5% {
    transform: translate3d(0px, 0px, 0px);
  }
  66.67% {
    transform: translate3d(0px, 0px, 0px);
  }
  70.83% {
    transform: translate3d(0px, 0px, 0px);
  }
  75% {
    transform: translate3d(0px, 0px, 0px);
  }
  79.17% {
    transform: translate3d(0px, 0px, 0px);
  }
  83.33% {
    transform: translate3d(0px, 0px, 0px);
  }
  87.5% {
    transform: translate3d(0px, 0px, 0px);
  }
  91.67% {
    transform: translate3d(0px, 0px, 0px);
  }
  95.83% {
    transform: translate3d(0px, 0px, 0px);
  }
  100% {
    transform: translate3d(0px, 0px, 0px);
  }
}
[data-gwd-motion-path-node] {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  pointer-events: none;
}